<%- model_class = Project -%>
<div class="page-header">
  <h3> <%= @project.title %></h3>
  <!--  возвращаем название организации методом, который написали ранее. Записан  в Helpers-->
  <h3><small>Организация - <%= tenant_name @project.tenant_id %> </small></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @project.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:details) %>:</strong></dt>
  <dd><%= @project.details %></dd>
  <dt><strong><%= model_class.human_attribute_name(:expected_completion) %>:</strong></dt>
  <dd><%= @project.expected_completion %></dd>
</dl>

<h3> Вложения </h3>
<%= render 'artifacts/list', artifacts: @project.artifacts %>
<br/>
<br/>



<%= link_to '< Назад на страницу организации',
            root_path, class: 'btn btn-default' %>
<%= link_to "Редактировать проект",
            edit_tenant_project_path(project: @project, tenant: @project.tenant_id), :class => 'btn btn-default' %>
<%= link_to 'Уточнить пользователей проекта ', users_tenant_project_path(tenant_id: @project.tenant_id, id: @project.id),
            class: 'btn btn-default' %>
<%= link_to "Удалить",
            tenant_project_path(@project, @project.tenant_id),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
